importFrom("terra", mask, compareGeom, crs, same.crs, ext, nlyr, rast, vect, distance, extract, predict, writeRaster)
importFrom("zoo", is.zoo, index, write.zoo)
importFrom("utils", write.table, installed.packages, ls.str)
importFrom("parallel", makeCluster, stopCluster, clusterApply) 
#importFrom("doParallel", registerDoParallel) 
importFrom("pbapply", pbsapply, pboptions)
importFrom("randomForest", randomForest) 
importFrom("methods", "as")
importFrom("stats", "na.omit")


exportPattern("^[^\\.]")

S3method(RFmerge, default)
S3method(RFmerge, zoo)
